<!DOCTYPE html>
<html lang="en">
<head>
<title>Markbin</title>
<link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<style type="text/css" media="screen">
	body {
		padding-top: 60px;
		padding-bottom: 40px;
	}

	#editor { 
		height: 100%;
		width: 60%;
	}

	.show_editing {
		display: none;
	}

	.item {
		/*border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: black;*/
	}
</style>
<script src="/public/bootstrap/js/bootstrap.min.js"></script>
<script src="https://rawgithub.com/flatiron/director/master/build/director.min.js" type="text/javascript" charset="utf-8"></script>
<script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="https://rawgithub.com/janl/mustache.js/master/mustache.js" type="text/javascript" charset="utf-8"></script>
<script src='https://rawgithub.com/LearnBoost/socket.io-client/0.9.11/dist/socket.io.min.js' type='text/javascript'></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type='text/javascript' src='/public/js/cookies.js'></script>
<script type='text/javascript' src='/public/js/editor.js'></script>
</head>
<body>
<script type='text/javascript'>
"use strict"
var socket = io.connect("http://markbin.jit.su/");
var router;
var saveThis;
var parentId;
var defaultText = "# Welcome to the markdown editor!\r\n\r\nEnter some text and hit paste!"

var routes = {
	'/': index,
	'/paste/:id': {
		'on': paste,
		'before': pasteTemplate
	},
	'/paste/:id/edit': {
		'on': edit,
		'before': pasteTemplate
	},
	'/paste/:id/fork': {
		'on': fork,
		'before': pasteTemplate
	},
	'/my-pastes': mypastes
};

function pasteTemplate(id) {
	var data = { id: id };

	$("#paste_title").html(Mustache.render("Paste {{id}}", data));
	$("#edit_button").html(Mustache.render("<a href=\"/#/paste/{{id}}/edit\">edit</a>", data));
	$("#fork_button").html(Mustache.render("<a href=\"/#/paste/{{id}}/fork\">fork</a>", data));
	$("#save_button").html(Mustache.render("<a href=\"/#/paste/{{id}}\" onclick=saveThis()>save</a>", data));
	$("#cancel_button").html(Mustache.render("<a href=\"/#/paste/{{id}}\" >cancel</a>", data));
}

function paste(id) {
	socket.emit("get", { id: id });
	$('#paste').show();
	$('#index').hide();
	$('#mine').hide();
	unloadEditor();

	saveThis = function() { save(id); }
}

function mypastes() {
	socket.emit("mine", { cookie: getCookie() });
	$('#paste').hide();
	$('#index').hide();
	$('#mine').show();
	unloadEditor();
}

function index() {
	$('#paste').hide();
	$('#index').show();
	$('#mine').hide();
	loadEditor();
	editor.setValue(defaultText);
	editor.clearSelection();
}

function save(id) {
	$('#paste').show();
	$('#index').hide();
	$('#mine').hide();
	unloadEditor();

	socket.emit("edit", {
		id: id,
		data: editor.getValue(),
		date: $("#date").text(),
		cookie: readCookie("user"),
		parent: parentId
	});

	window.location.href = "/#/paste/" + id;
}

function fork(id) {
	saveThis = function() { newPaste(id); }
	edit(id);
}

function edit(id) {
	socket.emit("get", { id: id });
	$('#paste').show();
	$('#index').hide();
	$('#mine').hide();
	loadEditor();
}

function newPaste(parentId) {
	socket.emit('new', { data: editor.getValue(), cookie:getCookie(), parent: parentId });
	createCookie("user", getCookie(), 30);
}

function updateFields(data) {
	socket.emit("auth", { cookie: readCookie("user"), id: data.id });
	$("#data").html(data.data);
	if (firstrun) {
		$("#editor").text(data.raw_data);
	} else {
		editor.setValue(data.raw_data);
		editor.clearSelection();
	}

	if (data.parent) {
		parentId = data.parent;
		$("#parent_div").show();
		$("#parent").html(Mustache.render("<a href=\"/#/paste/{{parent}}\">{{parent}}</a>", data));
	} else {
		$("#parent_div").hide();
	}

	$("#date").text(data.date);
}

$(document).ready(function () {
	socket.on("get", updateFields);
	socket.on("edit", updateFields);
	socket.on("auth", function(data) {
		var edit_btn = $('#edit_button');

		if (data.auth === true) {
			edit_btn.show();
		} else {
			edit_btn.hide();
		}
	});

	socket.on('recv', function(data) {
		var recv = $('#recv');
		addItem(data, recv, false, 100);
	});

	socket.on('new', function(data) {
		window.location.href = '#/paste/' + data.id;
	});

	socket.on('mine', function (data) {
		var recv = $('#mine');
		addItem(data, recv, true);
	});

	router = Router(routes);
	router.init();
}, false);

function addItem(item, container, render, maxLength) {
	var template = [ 
		"<div class=\"item well\"><h4><a href=/#/paste/{{id}}>{{id}}</a></h4><small>pasted on {{date}}</small><br><br><div>{{data}}</div></div>",
		"<div class=\"item well\"><h1><a href=/#/paste/{{id}}>{{id}}</a></h1><small>pasted on {{date}}</small><br><br><div>{{& data}}</div></div>"
	];

	if (maxLength) {
		item.data = item.raw_data.substr(0, maxLength);
		item.data += "...";
	}

	container.append(Mustache.render(template[Number(render)], item));

	if (! render)
		container.html(container.html().replace(/\n/g, "<br>"));
}

if (! window.location.hash)
	window.location.replace("/#/");
</script>

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="/#/">markbin</a>
			<ul class="nav">
				<li><a href="/#/my-pastes">my pastes</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span8">
			<div id="index">
				<a href="#" onclick=newPaste()>paste!</a>
			</div>
			<div id="paste">
				<h1 id="paste_title"></h1>
				<span id="edit_button" class="hide_editing"></span>
				<span id="save_button" class="show_editing"></span>
				<span id="fork_button" class="hide_editing"></span>
				<span id="cancel_button" class="show_editing"></span>
				<small class="hide_editing">pasted on <span id='date'></span></small>
				<div id="parent_div">Forked from <span id="parent"></span></div>
				<div id="data" class="hide_editing well"></div>
			</div>
			<div id="editor" class="show_editing"></div>
			<div id="mine"><h1>my pastes</h1></div>
		</div>
		<!-- SIDEBAR -->
		<div class="span4">
			<div id="recv"></div>
		</div>
	</div>
</div>

</body>
</html>
